@page "/amenitypage"
@using System.Threading;

<div class="page-container">
    <div class="title">
        <h3 class="event-title-head">Calgary Tower</h3>
        <button id="btn-previous" type="button" class="btn"><i class="bi bi-x-lg"></i></button>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="@firstSlideCss"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="@secondSlideCss"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="@thirdSlideCss"></li>
        </ol>
        <div class="carousel-inner" style="box-shadow: 5px 5px 5px #ccc;">
            <div class="carousel-item @firstSlideCss">
                <img class="d-block w-100" src="https://images.squarespace-cdn.com/content/v1/5a87961cbe42d637c54cab93/1617699528333-HPU0CRYCD73ZZTF6LZTW/calgary-tower.jpg" alt="First slide">
            </div>
            <div class="carousel-item @secondSlideCss">
                <img class="d-block w-100" src="https://static.wixstatic.com/media/29eefc_1a539e191dd64f568b7e38bfd6b9cdd3~mv2.jpg/v1/fill/w_560,h_332,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/CTowerWeb-ExperienceImage-Bottom.jpg" alt="Second slide">
            </div>
            <div class="carousel-item @thirdSlideCss">
                <img class="d-block w-100" src="https://4.bp.blogspot.com/-rrMKB2IPZL4/VtiGuDVIM9I/AAAAAAABDMw/xfktkIx_-FY/s1600/sky%2B360%2Bcalgary%2Btower%2Balberta%2B%252812%2529.png" alt="Third slide">
            </div>
        </div>
    </div>

    <div class="top">
        <div class="ratings">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
        </div>

        <div class="buttons">
            <a class="btn btn-bookmark" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#7E6D53" class="bi bi-bookmark" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
            </a>
            <a class="btn btn-add" type="button" data-bs-toggle="modal" href="#addToTripModalToggle" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#7E6D53" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </a>
        </div>
    </div>

    <!-- 2 Modal -->
    <div class="modal fade" id="addToTripModalToggle" aria-hidden="true" aria-labelledby="addToTripModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-end">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn btn-setting" data-bs-target="#existingTrips" data-bs-toggle="modal">Existing Trips</button>
                    <hr />
                    <button type="button" class="btn btn-setting" data-bs-target="#newTrip" data-bs-toggle="modal">Create a New Trip</button>
                    <hr />
                    <hr />
                    <button type="button" class="btn btn-setting btn-cancel" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="existingTrips" aria-hidden="true" aria-labelledby="existingTripsLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-end">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn btn-setting" data-bs-target="#tripConflict" data-bs-toggle="modal">Canadian Rockies Trip</button>
                    <hr />
                    <button type="button" class="btn btn-setting" data-bs-target="#tripSuccess" data-bs-toggle="modal">Winter Shopping</button>
                    <hr />
                    <hr />
                    <button type="button" class="btn btn-setting btn-cancel" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newTrip" aria-hidden="true" aria-labelledby="newTripLabel" tabindex="-1">
        <div id="modal-center" class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-background">
                <div class="modal-body">
                    <form class="trip-form">
                        <h5 class="create-option">Create a New Trip</h5>
                        <div class="form-floating mt-3 mb-3">
                            <input type="text" class="form-control" id="tripName" placeholder="unknown" required>
                            <label for="tripName">Trip Name</label>
                        </div>
                        <div class="form-controls modal-footer">
                            <button type="button" class="btn btn-close btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Close</button>
                            <button type="submit" class="btn btn-save" id="liveToastBtn">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tripConflict" aria-hidden="true" aria-labelledby="tripConflictLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-body modal-info fw-bold" style="color: #f5ad03;">
                    <i class="bi bi-x-circle"></i>
                    Event timing conflicts with current Trip Plan
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tripSuccess" aria-hidden="true" aria-labelledby="tripSuccessLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-center">
            <div class="modal-content">
                <div class="modal-body modal-info">
                    <i class="bi bi-check-circle"></i>
                </div>
            </div>
        </div>
    </div>

    <p class="amenity-address fw-bold">101 9 Ave SW, Calgary, AB T2P 1J9</p>
@*    <div class="tags">
        <span class="badge badge-pill badge-success">Food&Beverage</span>
        <span class="badge badge-pill badge-success">Nightlife</span>
        <span class="badge badge-pill badge-success">Monument</span>
    </div>*@

    <div class="tag-container">
        <button class="tag-btn">Food/Beverage</button>
        <button class="tag-btn">Nightlife</button>
        <button class="tag-btn">Monument</button>
    </div>

    <div class="description">
        <p>Located 191 metres above the downtown core, the Calgary Tower offers the best view in the city and is a must-see on any visitor's itinerary. On the Observation Deck you'll experience a spectacular 360° view of the bustling city, the majestic Rocky Mountains, the foothills, and the prairies.</p>
        <p class="show-more">Show More</p>
    </div>

    <div class="reviews">
        <nav class="navbar navbar-expand-lg navbar-light review-header">
            <h5 style="margin-bottom: 0; ">Reviews</h5>
            <a href="/addreview" class="btn add-review">
                <i class="bi bi-pencil"></i>
                Write a review
            </a>
        </nav>
        <div class="review-body">
            <div class="card-body2">
                <img class="card-img-top2" src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" />
                <div class="card-description2">
                    <p class="fw-bold">Mahmudul Hasan</p>
                    <p>Very beautiful place, enjoyable & so lovely.</p>
                </div>
            </div>
            <hr />
            <div class="card-body2">
                <img class="card-img-top2" src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" />
                <div class="card-description2">
                    <p class="fw-bold">Tabish Ansari</p>
                    <p>What an amazing view !!!</p>
                </div>
            </div>
            <hr />
            <div class="card-body2">
                <img class="card-img-top2" src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" />
                <div class="card-description2">
                    <p class="fw-bold">Carlos Uploads</p>
                    <p>Really nice piece of history for the city of Calgary. No longer the tallest structure in the city. Although I can imagine in it’s day it felt really high up. I’d say it’s a must see attraction whilst in Calgary. The glass floor part was a fun extra.</p>
                </div>
            </div>
            <hr />
            <div class="card-body2">
                <img class="card-img-top2" src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" />
                <div class="card-description2">
                    <p class="fw-bold">Hannah Donaldson</p>
                    <p>The tower is definitely a worth while experience. I have gone up three times and it was fun, though there is not a lot to it. If you don't mind heights, you can stand on the glass floor or walk around the building and enjoy the incredible 360° views.</p>
                </div>
            </div>
            <hr />
            <div class="card-body2">
                <img class="card-img-top2" src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" />
                <div class="card-description2">
                    <p class="fw-bold">Pitz</p>
                    <p>Just went up the tower the views were incredible. Not to expensive but we'll worth a look. The see through floor is an eye opener too</p>
                </div>
            </div>
            <p class="show-more">Show More</p>
        </div>
    </div>

    <div class="similar">
        <h4>Similar Places</h4>

        <div id="similar-amenities">
            <a href="/individualamenitypage">
                <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://az837918.vo.msecnd.net/publishedimages/Listings/2031/en-US/images/2/wilder-insitutecalgary-zoo-L-24.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Calgary Zoo</h5>
                        <p class="card-text">210 St. George's Drive NE</p>
                    </div>
                </div>
            </a>
            <a href="/individualamenitypage">
                <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5a5590fc0abd0444cba48ff0/1574914985887-GXC9K581T7Q59V3XU9MN/Cabin+Brewing+Company+Taproom+1+.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cabin Brewing Company</h5>
                        <p class="card-text">505 36 Ave SE</p>
                    </div>
                </div>
            </a>
            <a href="/individualamenitypage">
                <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://www.heritagepark.ca//sites/default/files/styles/even_list_style/public/2018-08/botsfords-harness.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Heritage Park</h5>
                        <p class="card-text">1900 Heritage Dr SW</p>
                    </div>
                </div>
            </a>
            <a href="/individualamenitypage">
                <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://az837918.vo.msecnd.net/publishedimages/articles/789/en-CA/images/2/collecting-experiences-at-the-glenbow-museum-L-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Glenbow Museum</h5>
                        <p class="card-text">130 9 Ave SE</p>
                    </div>
                </div>
            </a>
            <a href="/individualamenitypage">
                <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://www.avenuecalgary.com/wp-content/uploads/2018/12/Detours-VertigoTheatre.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Theatre Calgary</h5>
                        <p class="card-text">220 9 Ave SE</p>
                    </div>
                </div>
            </a>
            <a href="/individualamenitypage">
                <div class="card" style="width: 14rem;">
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Stephen_Avenue_Walk._Calgary._%2828278179767%29.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Stephen Avenue Walk</h5>
                        <p class="card-text">340 8 Ave SW</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


@code {
    string firstSlideCss = "active";
    string secondSlideCss = "";
    string thirdSlideCss = "";

    int currentPosition = 0;
    int currentSlide = 0;

    CancellationTokenSource cts;
    CancellationToken ct;

    protected override async Task OnInitializedAsync()
    {
        cts = new CancellationTokenSource();
        ct = cts.Token;
        await Walkthrough(ct);
    }

    public async Task Walkthrough(CancellationToken ct)
    {
        while (!ct.IsCancellationRequested)
        {
            await Task.Delay(2500, ct);
            currentPosition++;
            ChangeSlide();
            await InvokeAsync(() => this.StateHasChanged());
        }
    }

    public void Manually(bool backwards)
    {
        cts.Cancel();

        if (backwards)
            currentPosition--;
        else
            currentPosition++;

        ChangeSlide();
    }

    private void ChangeSlide()
    {
        currentSlide = Math.Abs(currentPosition % 3);

        switch (currentSlide)
        {
            case 0:
                firstSlideCss = "active";
                secondSlideCss = "";
                thirdSlideCss = "";
                break;
            case 1:
                firstSlideCss = "";
                secondSlideCss = "active";
                thirdSlideCss = "";
                break;
            case 2:
                firstSlideCss = "";
                secondSlideCss = "";
                thirdSlideCss = "active";
                break;
            default:
                break;
        }
    }
}
